
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>2.11 Розрахунок струму неробочого ходу</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</head>
<body>
    <h1>2.11 Розрахунок струму неробочого ходу</h1>

    <p>Індукція в стрижні:</p>
    <p>$$ B_c = \frac{{u_v}}{{4.44 \cdot f \cdot \Pi_c}} = \frac{{21.956}}{{4.44 \cdot 50 \cdot 0.06188}} = 1.598 \; \text{Тл} \tag{2.119} $$</p>

    <p>Індукція в ярмі:</p>
    <p>$$ B_я = \frac{{u_v}}{{4.44 \cdot f \cdot \Pi_я}} = \frac{{21.956}}{{4.44 \cdot 50 \cdot 0.0628}} = 1.575 \; \text{Тл} \tag{2.120} $$</p>

    <p>Індукція косого стику:</p>
    <p>$$ B_{кос} = \frac{{B_c}}{{2}} = \frac{{1.598}}{{2}} = 1.13 \; \text{Тл} \tag{2.121} $$</p>

    <p>Площа перерізу стрижня на косому стику:</p>
    <p>$$ \Pi_{кос} = 2 \cdot \Pi_c = 2 \cdot 0.0619 = 0.088 \; \text{м}^2 \tag{2.122} $$</p>

    <p>Втрати холостого ходу:</p>
    <p>
    $$ Q_x = 1.49 \cdot 1.01 \cdot (1.518 \cdot 1401.907 + 1.432 \cdot 1355.727 + 4 \cdot 1.432 \cdot 119.972 + \frac{1.518 + 1.432}{2} \cdot 35.2 \cdot 1.25 \cdot 119.972 + 5 \cdot 2360.979 \cdot 0.088 + 1 \cdot 19090.914 \cdot 0.0619) \cdot 1 \cdot 1.06 \cdot 1.04 = 17480.642 \; \text{вар} \tag{2.125} $$
    </p>

    <p>Струм холостого ходу:</p>
    <p>$$ i_0 = \frac{{Q_x}}{{S \cdot 10}} = \frac{{17480.642}}{{2500 \cdot 10}} = 0.7\% \tag{2.126} $$</p>

    <p>Відхилення від заданого значення:</p>
    <p>$$ \Delta i = \frac{{i_0 - i_{0н}}}{{i_{0н}}} \cdot 100 = \frac{{0.7 - 1.1}}{{1.1}} \cdot 100 = -36.434\% \tag{2.127} $$</p>

    <p>Активна складова струму холостого ходу:</p>
    <p>$$ i_{0a} = \frac{{P_x}}{{S \cdot 10}} = \frac{{4252.405}}{{2500 \cdot 10}} = 0.17\% \tag{2.128} $$</p>

    <p>Реактивна складова:</p>
    <p>$$ i_{0p} = \sqrt{i_0^2 - i_{0a}^2} = \sqrt{0.7^2 - 0.17^2} = 0.68\% \tag{2.129} $$</p>

    <p>Струм холостого ходу (обмотка ВН):</p>
    <p>$$ I_0 = \frac{{Q_x}}{{m \cdot U_{ф2}}} = \frac{{17480.642}}{{3 \cdot 7967.434}} = 0.731 \; \text{А} \tag{2.130} $$</p>

    <p>Активна складова:</p>
    <p>$$ I_{0a} = \frac{{P_x}}{{3 \cdot U_{ф2}}} = \frac{{4252.405}}{{3 \cdot 7967.434}} = 0.178 \; \text{А} \tag{2.131} $$</p>

    <p>Реактивна складова:</p>
    <p>$$ I_{0p} = \sqrt{I_0^2 - I_{0a}^2} = \sqrt{0.731^2 - 0.178^2} = 0.709 \; \text{А} \tag{2.132} $$</p>

    <p>ККД трансформатора:</p>
    <p>
    $$ \eta = 1 - \frac{{P_k + P_x}}{{S \cdot 10^3 + P_k + P_x}} = 1 - \frac{{23632.482 + 4252.405}}{{2500 \cdot 10^3 + 23632.482 + 4252.405}} = 98.897\% \tag{2.133} $$
    </p>
</body>
</html>
