{% extends "base.html" %}
{% set section_name = "section_2_9" %}

{% block title %}2.9 Розрахунок магнітної системи{% endblock %}

{% block content %}
    <h2>2.9 Розрахунок магнітної системи</h2>

    <p>Активний переріз стрижня:</p>
    <p>$$ \Pi_c = k_з \cdot \Pi_{фс} = 0.96 \cdot 0.06446 = 0.06188 \, \text{м}^2 \tag{2.108} $$</p>

    <p>Активний переріз ярма:</p>
    <p>$$ \Pi_я = k_з \cdot \Pi_{фя} = 0.96 \cdot 0.06542 = 0.0628 \, \text{м}^2 \tag{2.109} $$</p>

    <p>Об'єм сталі у магнітній системі:</p>
    <p>$$ V_{у.ст} = k_з \cdot V_у = 0.96 \cdot 0.016336 = 0.01568 \, \text{м}^3 \tag{2.110} $$</p>

    <p>Довжина стрижня:</p>
    <p>$$ l_c = l_1 + l'_0 + l''_0 = 0.751 + 0.075 + 0.12 = 0.946 \, \text{м} \tag{2.111} $$</p>

    <p>Відстань між осями стрижнів:</p>
    <p>$$ C = D''_3 + a_{22} = 0.551 + 0.03 = 0.581 \, \text{м} \tag{2.112} $$</p>

    <p>Маса сталі у кутах магнітної системи:</p>
    <p>$$ G_у = V_{у.ст} \cdot \gamma_{ст} = 0.0157 \cdot 7650 = 119.972 \, \text{кг} \tag{2.113} $$</p>

    <p>Маса сталі ярма:</p>
    <p>$$ G'_я = 2 \cdot \Pi_я \cdot 2 \cdot C \cdot \gamma_{ст} = 2 \cdot 0.062803 \cdot 2 \cdot 0.581 \cdot 7650 = 1115.784 \, \text{кг} \tag{2.115} $$</p>

    <p>$$ G''_я = 2 \cdot G_у = 2 \cdot 119.972 = 239.943 \, \text{кг} \tag{2.116} $$</p>

    <p>$$ G_я = G'_я + G''_я = 1115.784 + 239.943 = 1355.727 \, \text{кг} \tag{2.114} $$</p>

    <p>Маса сталі стрижнів:</p>
    <p>$$ G_c = 3 l_c \Pi_c \gamma_{ст} + 3 \Pi_c a_{1я} \gamma_{ст} - G_у = 3 \cdot 0.946 \cdot 0.06188 \cdot 7650 + 3 \cdot 0.06188 \cdot 0.295 \cdot 7650 - 119.972 = 1401.907 \, \text{кг} \tag{2.117} $$</p>

    <p>Повна маса сталі:</p>
    <p>$$ G_{ст} = G_я + G_c = 1355.727 + 1401.907 = 2757.635 \, \text{кг} \tag{2.118} $$</p>

{% from "nav_buttons.html" import nav %}
{{ nav("section_2_8", "section_2_10") }}
{% endblock %}

