{% extends "base.html" %}
{% block title %}2.1 Визначення основних параметрів{% endblock %}

{% block content %}
    <h2>2.12 Векторна діаграма трансформатора</h2>

    <p>Коефіцієнт трансформації фазний:</p>
    <p>$$ k = \frac{U_{ф1}}{U_{ф2}} = \frac{7967.434}{11000} = 0.724 \tag{2.135} $$</p>

    <p>Напруга короткого замикання:</p>
    <p>$$ U_{1k} = \frac{U_{ф1} \cdot u'_к}{100} = \frac{7967.434 \cdot 5.953}{100} = 474.318 \, \text{В} \tag{2.136} $$
    </p>

    <p>Струм короткого замикання:</p>
    <p>$$ I_{1k} = I_{ф1} = 104.592 \, \text{А} \tag{2.137} $$</p>

    <p>Повний опір трансформатора:</p>
    <p>$$ Z_k = \frac{U_{1k}}{I_{1k}} = \frac{474.318}{104.592} = 4.535 \, \Omega \tag{2.138} $$</p>

    <p>Активний опір трансформатора:</p>
    <p>$$ R_k = \frac{P_k}{m \cdot I_{1k}^2} = \frac{23632.48}{3 \cdot 104.592^2} = 0.72 \, \Omega \tag{2.139} $$</p>

    <p>Реактивний опір трансформатора:</p>
    <p>$$ X_k = \sqrt{Z_k^2 - R_k^2} = \sqrt{4.535^2 - 0.72^2} = 4.477 \, \Omega \tag{2.140} $$</p>

    <p>Повний опір магнітного кола:</p>
    <p>$$ Z_m = \frac{E_{1x}}{I_0} = \frac{7967.43}{0.731} = 10894.34 \, \Omega \tag{2.141} $$</p>

    <p>Активний опір магнітного кола:</p>
    <p>$$ R_m = \frac{P_x}{3 \cdot I_0^2} = \frac{4252.405}{3 \cdot 0.731^2} = 2650.2 \, \Omega \tag{2.142} $$</p>

    <p>Реактивний опір магнітного кола:</p>
    <p>$$ X_m = \sqrt{Z_m^2 - R_m^2} = \sqrt{10894.34^2 - 2650.2^2} = 10567.073 \, \Omega \tag{2.143} $$</p>

    <p>Опори обмоток (приведені):</p>
    <p>$$ R_1 = R'_2 = \frac{R_k}{2} = \frac{0.72}{2} = 0.36 \, \Omega \tag{2.144} $$</p>
    <p>$$ X_1 = X'_2 = \frac{X_k}{2} = \frac{4.477}{2} = 2.239 \, \Omega $$</p>
    <p>$$ Z_1 = Z'_2 = \frac{Z_k}{2} = \frac{4.535}{2} = 2.267 \, \Omega $$</p>

    <p>Масштаб потоку:</p>
    <p>$$ \Phi = B_c \cdot \Pi_c = 1.598 \cdot 0.06188 = 0.099 \, \text{Вб} \tag{2.146} $$</p>
    <p>$$ \Phi_m = \frac{\Phi}{m_{\Phi}} = \frac{0.099}{0.0025} = 39.561 \, \text{мм} \tag{2.147} $$</p>

    <p>Приведений струм вторинної обмотки:</p>
    <p>$$ I'_2 = \frac{\beta \cdot I_{ф2}}{k} = \frac{1 \cdot 75.758}{0.724} = 104.592 \, \text{А} \tag{2.148} $$</p>
    <p>$$ I'_{2m} = \frac{I'_2}{m_I} = \frac{104.592}{1} = 104.592 \, \text{мм} \tag{2.149} $$</p>

    <p>Струм неробочого ходу та його складові:</p>
    <p>$$ I_{1x} = \frac{I_0}{m_I} = \frac{0.731}{1} = 0.731 \, \text{мм} \tag{2.150} $$</p>
    <p>$$ I_{1xp} = \frac{I_{0p}}{m_I} = \frac{0.709}{1} = 0.709 \, \text{мм} \tag{2.151} $$</p>
    <p>$$ I_{1xa} = \frac{I_{0a}}{m_I} = \frac{0.178}{1} = 0.178 \, \text{мм} \tag{2.152} $$</p>

    <p>Кут магнітного запізнювання:</p>
    <p>$$ \gamma = \arctan \left(\frac{I_{0a}}{I_{0p}}\right) \cdot \frac{180}{\pi} = \arctan
        \left(\frac{0.178}{0.709}\right) \cdot \frac{180}{\pi} = 14.079^\circ \tag{2.153} $$</p>

    <p>Масштаб напруги та напруга в масштабі:</p>
    <p>$$ U'_2m = \frac{U_{ф2} \cdot k}{m_U} = \frac{11000 \cdot 0.724}{50} = 159.349 \, \text{мм} \tag{2.154} $$</p>
    <p>$$ I'_2 R'_2 = 104.592 \cdot 0.36 = 37.653 \, \text{В} $$</p>
    <p>$$ I'_{2R2m} = \frac{104.592 \cdot 0.36}{50} = 0.753 \, \text{мм} \tag{2.155} $$</p>
    <p>$$ I'_{2X2m} = \frac{104.592 \cdot 2.239}{50} = 4.683 \, \text{мм} \tag{2.156} $$</p>

    <p>Кути при різних cos φ₂:</p>
    <p>$$ \phi_2 = \arccos(\cos \phi_2) = \arccos(0.98) = 11.478^\circ \quad \arccos(1) = 0^\circ \quad \arccos(0.98) =
        168.522^\circ \tag{2.157} $$</p>


     <h1>Розділ 2.12 Розрахунок характеристик при зміні навантаження</h1>

    <h2>Формули (2.158)–(2.167)</h2>

    <p>$$ \Delta u_{ka} = \beta \cdot u \cdot \cos \varphi_2 \tag{2.158} $$</p>
    <p>$$ \Delta u_{kp} = \beta \cdot u \cdot \sin \varphi_2 \tag{2.159} $$</p>
    <p>$$ \Delta u_k = \Delta u_{ka} + \Delta u_{kp} \tag{2.160} $$</p>
    <p>$$ u_2 = 100 - \Delta u_k \tag{2.161} $$</p>

    <p>$$ U_{1ka} = \frac{U_{1k} \cdot u_a}{100} = \frac{474.318 \cdot 0.945}{100} = 4.484 \ \text{В} \tag{2.162} $$</p>
    <p>$$ U_{1kp} = \frac{U_{1k} \cdot u_p}{100} = \frac{474.318 \cdot 5.878}{100} = 27.879 \ \text{В} \tag{2.163} $$
    </p>
    <p>$$ \Delta U_{1ka} = \beta \cdot U_{1ka} \cdot \cos \varphi_2 \tag{2.164} $$</p>
    <p>$$ \Delta U_{1kp} = \beta \cdot U_{1kp} \cdot \sin \varphi_2 \tag{2.165} $$</p>
    <p>$$ \Delta U_k = \Delta U_{1ka} + \Delta U_{1kp} \tag{2.166} $$</p>
    <p>$$ U_2 = U_2 - \Delta U_k \tag{2.167} $$</p>

    <h2>Таблиця 2.3 – Зовнішні характеристики та падіння напруги у вольтах</h2>
    <div class="table-responsive">
    <table class="table table-bordered table-sm text-center bg-white shadow-sm">
        <thead class="table-primary">
        <tr>
            <th>β</th>
            <th>U2(RL), B</th>
            <th>U2(R), B</th>
            <th>U2(RC), B</th>
            <th>ΔU2(RL), B</th>
            <th>ΔU2(R), B</th>
            <th>ΔU2(RC), B</th>
        </tr>
        <tr>
            <td>0</td>
            <td>13800</td>
            <td>13800</td>
            <td>13800</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>0.25</td>
            <td>13797.52</td>
            <td>13798.88</td>
            <td>13800.29</td>
            <td>2.48</td>
            <td>1.12</td>
            <td>-0.29</td>
        </tr>
        <tr>
            <td>0.5</td>
            <td>13795.03</td>
            <td>13797.76</td>
            <td>13800.57</td>
            <td>4.97</td>
            <td>2.24</td>
            <td>-0.57</td>
        </tr>
        <tr>
            <td>0.75</td>
            <td>13792.55</td>
            <td>13796.64</td>
            <td>13800.86</td>
            <td>7.45</td>
            <td>3.36</td>
            <td>-0.86</td>
        </tr>
        <tr>
            <td>1</td>
            <td>13790.07</td>
            <td>13795.52</td>
            <td>13801.14</td>
            <td>9.93</td>
            <td>4.48</td>
            <td>-1.14</td>
        </tr>
        <tr>
            <td>1.25</td>
            <td>13787.58</td>
            <td>13794.4</td>
            <td>13801.43</td>
            <td>12.42</td>
            <td>5.6</td>
            <td>-1.43</td>
        </tr>
    </table>
</div>
    <h2>Таблиця 2.4 – Зовнішні характеристики та падіння напруги у відсотках</h2>
    <div class="table-responsive">
    <table class="table table-bordered table-sm text-center bg-white shadow-sm">
        <thead class="table-primary">
        <tr>
            <th>β</th>
            <th>U2(RL), %</th>
            <th>U2(R), %</th>
            <th>U2(RC), %</th>
            <th>ΔU2(RL), %</th>
            <th>ΔU2(R), %</th>
            <th>ΔU2(RC), %</th>
        </tr>
        <tr>
            <td>0</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>0.25</td>
            <td>99.48</td>
            <td>99.76</td>
            <td>100.06</td>
            <td>0.52</td>
            <td>0.24</td>
            <td>-0.06</td>
        </tr>
        <tr>
            <td>0.5</td>
            <td>98.95</td>
            <td>99.53</td>
            <td>100.12</td>
            <td>1.05</td>
            <td>0.47</td>
            <td>-0.12</td>
        </tr>
        <tr>
            <td>0.75</td>
            <td>98.43</td>
            <td>99.29</td>
            <td>100.18</td>
            <td>1.57</td>
            <td>0.71</td>
            <td>-0.18</td>
        </tr>
        <tr>
            <td>1</td>
            <td>97.91</td>
            <td>99.05</td>
            <td>100.24</td>
            <td>2.09</td>
            <td>0.95</td>
            <td>-0.24</td>
        </tr>
        <tr>
            <td>1.25</td>
            <td>97.38</td>
            <td>98.82</td>
            <td>100.3</td>
            <td>2.62</td>
            <td>1.18</td>
            <td>-0.3</td>
        </tr>
    </table>
    </div>
 



{% from "nav_buttons.html" import nav %}
{{ nav("section_2_11", "section_3_1") }}
{% endblock %}