{% extends "base.html" %}
{% block title %}2.1 Визначення основних параметрів{% endblock %}

{% block content %}

<h2 class="mt-5">Розділ 2.8 – Оцінка термічної стійкості обмоток при короткому замиканні</h2>
<div class="bg-white p-4 shadow-sm rounded">

<p>Початкова температура обмоток трансформатора: \( \theta_p = 90^\circ C \)</p>
<p>Час короткого замикання: \( t_k = 4\, \text{с} \)</p>

<h4>Температура обмоток до моменту відключення:</h4>
<p>
$$
\theta = 670 \cdot t_k + \left( \frac{12.5}{u'_k} \cdot (t_k - 3.374 \cdot 10^6 \cdot 10^{-6}) \right)^2 + \theta_p
$$
</p>
<p>$$ \theta = 670 \cdot 4 + \left( \frac{12.5}{5.953} \cdot (4 - 3.374) \right)^2 + 90 = 166.754^\circ C \tag{2.106} $$</p>

<h4>Час досягнення температури 250°C:</h4>
<p>
$$
t_{k250} = 2.5 \cdot \left( \frac{u'_k}{J_2 \cdot 10^{-6}} \right)^2
= 2.5 \cdot \left( \frac{5.953}{3.374 \cdot 10^6 \cdot 10^{-6}} \right)^2 = 7.783\, \text{с} \tag{2.107}
$$
</p>

<div class="alert alert-success mt-4">
  <strong>Висновок:</strong> температура обмоток не перевищує 250°C, а час досягнення цієї температури більше ніж 4 с — <strong>термічна стійкість ізоляції достатня</strong>.
</div>

</div>

{% from "nav_buttons.html" import nav %}
{{ nav("section_2_7", "section_2_9") }}
{% endblock %}