
<h2 class="mt-5">Розділ 2.6 – Розрахунок напруги короткого замикання</h2>
<div class="bg-white p-4 shadow-sm rounded">

<p>Активна складова напруги короткого замикання:</p>
<p>$$ u_a = \frac{P_k}{10 \cdot S} = \frac{23632.482}{10 \cdot 2500} = 0.945\% \tag{2.86} $$</p>

<p>Коефіцієнт Роговського по повздовжній осі:</p>
<p>$$ \sigma = \frac{a_{12} + a_{нн} + a_{вн}}{2 \pi \cdot l_1} = \frac{0.027 + 0.03 + 0.038}{2 \pi \cdot 0.751} = 0.02 \tag{2.88} $$</p>
<p>$$ k_r = \left(1 - \frac{1 - e^{-\sigma}}{\sigma} \right) = 0.98 \tag{2.87} $$</p>

<p>Середній діаметр каналу між обмотками НН та ВН:</p>
<p>$$ d_{12} = \frac{D''_1 + D'_2}{2} = \frac{0.394 + 0.448}{2} = 0.421\, \text{м} \tag{2.89} $$</p>

<p>Ширина приведеного каналу розсіювання:</p>
<p>$$ a_p = \frac{a_{нн} + a_{вн} + a_{12}}{3} = \frac{0.027 + 0.03 + 0.038}{3} = 0.05\, \text{м} \tag{2.90} $$</p>

<p>Коефіцієнт Роговського по поперечній осі:</p>
<p>$$ l_x = l_1 - l_2 = 0.751 - 0.749 = 0.002\, \text{м} \tag{2.92} $$</p>
<p>$$ x = \frac{l_x}{l_1} = \frac{0.002}{0.751} \approx 0.00266 \tag{2.93} $$</p>
<p>$$ k_q = 1 + \frac{l_1 \cdot x^2}{m \cdot a_p \cdot k_r} = 1 + \frac{0.751 \cdot 0.002^2}{3 \cdot 0.05 \cdot 0.98} = 1.00003 \tag{2.91} $$</p>

<p>Коефіцієнт \( \beta \):</p>
<p>$$ \beta = \frac{\pi \cdot d_{12}}{l_2} = \frac{\pi \cdot 0.421}{0.749} = 1.768 \tag{2.94} $$</p>

<p>Реактивна складова:</p>
<p>$$ u_r = \frac{7.9 \cdot f \cdot \beta \cdot S' \cdot 10^{-3} \cdot a_p \cdot k_r \cdot k_q}{u_{в}} = \frac{7.9 \cdot 50 \cdot 1.768 \cdot 833333.333 \cdot 10^{-3} \cdot 0.05 \cdot 0.98 \cdot 1}{21.956} = 5.878\% \tag{2.95} $$</p>

<p>Напруга короткого замикання:</p>
<p>$$ u'_k = \sqrt{u_a^2 + u_r^2} = \sqrt{0.945^2 + 5.878^2} = 5.953\% \tag{2.96} $$</p>

<p>Відхилення від заданого значення \( u_k = 6.5\% \):</p>
<p>$$ \Delta u = \frac{u'_k - u_k}{u_k} \cdot 100 = \frac{5.953 - 6.5}{6.5} \cdot 100 = -8.41\% \tag{2.97} $$</p>

</div>
