{% extends "base.html" %}
{% set section_name = "section_2_5" %}

{% block title %}Розділ 2.5 – Розрахунок втрат короткого замикання{% endblock %}

{% block content %}
<h2 class="mt-5">Розділ 2.5 – Розрахунок втрат короткого замикання</h2>
<div class="bg-white p-4 shadow-sm rounded">

    <h4>Втрати в обмотках:</h4>
    <p>$$ P_{осн1} = 2.4 \cdot 10^{-12} \cdot J_1^2 \cdot G_{о1} = 2.4 \cdot 10^{-12} \cdot (3.459 \cdot 10^6)^2 \cdot
        336.122 = 9653.22\, \text{Вт} \tag{2.64} $$</p>
    <p>$$ P_{осн2} = 2.4 \cdot 10^{-12} \cdot J_2^2 \cdot G_{о2} = 2.4 \cdot 10^{-12} \cdot (3.374 \cdot 10^6)^2 \cdot
        460.111 = 12570.453\, \text{Вт} \tag{2.65} $$</p>
    <p>$$ P_{осн3} = 2.4 \cdot 10^{-12} \cdot J_2^2 \cdot G_{о3} = 2.4 \cdot 10^{-12} \cdot (3.374 \cdot 10^6)^2 \cdot
        51.359 = 1403.142\, \text{Вт} \tag{2.66} $$</p>

    <h4>Коефіцієнти додаткових втрат:</h4>
    <p>$$ \beta_1 = \frac{b_1 \cdot m_1 \cdot k_p}{l_1} = \frac{0.008 \cdot 56 \cdot 0.95}{0.751} = 0.567 \tag{2.70} $$
    </p>
    <p>$$ k_{д1} = 1 + 0.095 \cdot 10^8 \cdot \beta_1^2 \cdot a_1 \cdot n_1^2 = 1 + 0.095 \cdot 10^8 \cdot 0.567^2 \cdot
        0.00284 \cdot 81 = 1.015 \tag{2.67} $$</p>
    <p>$$ \beta_2 = \frac{b_2 \cdot m_2 \cdot k_p}{l_2} = \frac{0.0071 \cdot 58 \cdot 0.95}{0.749} = 0.522 \tag{2.72} $$
    </p>
    <p>$$ k_{д2} = 1 + 0.095 \cdot 10^8 \cdot \beta_2^2 \cdot a_2 \cdot n_2^2 = 1.013 \tag{2.71} $$</p>
    <p>$$ \beta_3 = \frac{b_2 \cdot m_3 \cdot k_p}{l_2} = \frac{0.0071 \cdot 72 \cdot 0.95}{0.749} = 0.649 \tag{2.74} $$
    </p>
    <p>$$ k_{д3} = 1 + 0.095 \cdot 10^8 \cdot \beta_3^2 \cdot a_3 \cdot n_3^2 = 1.0001 \tag{2.73} $$</p>

    <h4>Втрати у відводах:</h4>
    <p>$$ l_{в1} = 14 \cdot l_1 = 10.508\, \text{м} \tag{2.75} $$</p>
    <p>$$ G_{в1} = l_{в1} \cdot \Pi_1 \cdot \gamma = 10.508 \cdot 21.9 \cdot 10^{-6} \cdot 8900 = 2.048\, \text{кг}
        \tag{2.76} $$</p>
    <p>$$ P_{в1} = 2.4 \cdot 10^{-12} \cdot J_1^2 \cdot G_{в1} = 58.82\, \text{Вт} \tag{2.77} $$</p>
    <p>$$ l_{в2} = 7.5 \cdot l_2 = 5.616\, \text{м} \tag{2.78} $$</p>
    <p>$$ G_{в2} = 5.616 \cdot 31 \cdot 10^{-6} \cdot 8900 = 1.549\, \text{кг} \tag{2.79} $$</p>
    <p>$$ P_{в2} = 2.4 \cdot 10^{-12} \cdot J_2^2 \cdot G_{в2} = 42.331\, \text{Вт} \tag{2.80} $$</p>

    <h4>Втрати в баку:</h4>
    <p>$$ P_{б} = 10 \cdot k \cdot S = 10 \cdot 0.04 \cdot 2500 = 1000\, \text{Вт} \tag{2.81} $$</p>

    <h4>Повні втрати короткого замикання:</h4>
    <p>$$ P_{кm} = P_{осн1} \cdot k_{д1} + P_{осн2} \cdot k_{д2} + P_{осн3} \cdot k_{д3} + P_{в1} + 7 \cdot P_{в2} +
        P_{б} = 25289.748\, \text{Вт} \tag{2.82} $$</p>
    <p>$$ \Delta P_m = \frac{P_{кm} - p_k}{p_k} \cdot 100 = \frac{25289.748 - 25000}{25000} \cdot 100 = 1.16\%
        \tag{2.83} $$</p>

    <h4>Втрати КЗ у номінальному режимі:</h4>
    <p>$$ P_{к} = P_{осн1} \cdot k_{д1} + P_{осн2} \cdot k_{д2} + P_{в1} + P_{в2} + P_{б} = 23632.482\, \text{Вт}
        \tag{2.84} $$</p>
    <p>$$ \Delta P = \frac{P_{к} - p_k}{p_k} \cdot 100 = \frac{23632.482 - 25000}{25000} \cdot 100 = -5.47\% \tag{2.85}
        $$</p>

</div>

{% from "nav_buttons.html" import nav %}
{{ nav("section_2_4", "section_2_6") }}
{% endblock %}